PORT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DB=
OPENAI_API_KEY=your key
APP_REDIS_URL=
SLACK_WEBHOOK_URL=
SLACK_NOTIFY_USER_ID=U01ABC123,U02DEF456
SLACK_NOTIFY_CHANNEL=
